{{ partial "header.html" }}

<div itemscope itemtype="http://schema.org/Person">

  <header class="col-xs-12">
    <h1>Hi there, I'm <span itemprop="name">Adam Riggall</span></h1>
  </header>

  <article class='col-sm-6 col-sm-push-6'>
    <div class="mobilepic visible-xs">
        <img src="/images/adam_riggall.jpg" class="thumbnail img-responsive" alt="Photo of Adam Riggall" itemprop="image" />
    </div>

    <p itemprop="description">I'm a software engineer with a side of DevOps.  I work at
    <a href="http://www.nike.com">Nike</a> on the
    <a href="http://www.nikeid.com">NIKEiD</a> engineering team.
    I'm passionate about building unique web experiences powered by
    cloud services (which can be continuously deployed easily and reliably).
    For more about my work life, check out my
    <a title="Adam Riggall's Resume [PDF]" href="/Adam_Riggall_Resume.pdf">resume</a>.</p>

    <p>Before pivoting to the software world, I received a
      <span itemprop="honorificSuffix">PhD</span> in Psychology with a focus on Cognitive Neuroscience from
      the <a href="http://www.wisc.edu">University of Wisconsin-Madison</a>.
      My dissertation applied machine learning methods to neuroimaging data to
      understand how the brain performs short-term memory. In the process I developed
      new analytical approaches, interactive visualizations, and challenged a
      few long-held theories.</span> For details, take a look at my
      <a title="Adam C Riggall's Curriculum Vitae (CV) [PDF]" href="Adam_Riggall_CV.pdf">CV</a>.</p>

      <p>When I'm not writing code, I'm likely sailing. Being on the water is a
      great passion of mine, as a lot of my <a href="/projects">side projects</a> will attest.</p>
  </article>
  <aside class="col-sm-6 col-sm-pull-6 text-center">
      <img src="/images/adam_riggall_2.jpg" alt="Photo of Adam Riggall" class="img-responsive thumbnail hidden-xs" itemprop="image" />
      <footer>
        <ul>
          <li>
          <a href="http://github.com/adamatus" class="" role="button"><span class="octicon octicon-mark-github"></span>&nbsp;<span class="hide-desktop">GitHub </span><span class="hide-mobile" itemprop="sameAs">http://github.com/adamatus</span></a>
          </li>
          <li>
          <a href="mailto:adam@riggall.info" class="" role="button"><span class="octicon octicon-mail"></span>&nbsp;<span class="hide-desktop">Email </span><span class="hide-mobile" itemprop="email">adam@riggall.info</span></a>
          </li>
        </ul>
      </footer>
  </aside>

</div>

{{ partial "footer.html" }}
